@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.sections {
  margin-top: 200px;
  margin-bottom: 200px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  color: #bdbcbc;
}

.navbar h1 {
  font-size: 20px;
  font-weight: 400;
  color: #b6f319;
}

.navbar span {
  font-family: "Montserrat", sans-serif;
}

nav ul {
  color: #ffffff;
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li {
  text-decoration: none;
  color: #bdbcbc;
  transition: all 0.5s ease;
}

nav ul li:hover {
  color: #ffffff;
  transform: scale(1.1);
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-button {
  background: #b6f319;
  padding: 10px 20px;
  border-radius: 12px;
  color: #000000;
}

.nav-button:hover {
  background: #5e17eb;
  padding: 10px 20px;
  border-radius: 12px;
  color: #ffffff;
  transition: all 0.2s ease;
}

.hero-section {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

hero {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

hero div {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

hero {
  display: flex;
  flex-direction: column;
}

hero h3 {
  color: #bdbcbc;
  font-weight: 400;
}

hero h2 {
  font-size: 50px;
  font-weight: 600;
}

hero h2 span {
  color: #b6f319;
}

hero p {
  color: #bdbcbc;
  font-weight: 400;
}

hero span h2 {
  background: linear-gradient(90deg, #ebebeb, #4d4544, #080808);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-degrade {
  background: linear-gradient(90deg, #4d4544, #afafaf, #ebebeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section aside {
  width: 50%;
  display: flex;
  justify-content: center;
}

aside img {
  width: 70%;
  animation: jump 6s ease-in-out infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

#section-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
#section-category h2 {
  background: linear-gradient(90deg, #4d4544, #afafaf, #ebebeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  font-weight: 600;
}

.cards-category {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  width: 80%;
}

.cards-category li {
  background: linear-gradient(rgba(182, 243, 25, 0.4), transparent);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 20%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
}

.cards-category li h5 {
  font-weight: 400;
  color: #bdbcbc;
}

.cards-category .card-gris {
  background: linear-gradient(rgba(163, 163, 163, 0.4), transparent);
}

#section-steps .text-steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#section-steps .text-steps h3 {
  width: 40%;
  font-size: 50px;
  font-weight: 600;
  background: linear-gradient(90deg, #ebebeb, #afafaf, #4d4544);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#section-steps .text-steps h3 span {
  color: #5e17eb;
}
#section-steps .text-steps p {
  width: 30%;
  color: #bdbcbc;
}

.cards-steps {
  display: flex;
  justify-content: center;
  align-items: end;
}

.cards-steps div {
  margin-top: 40px;
  background: linear-gradient(rgba(100, 100, 100, 0.4), transparent);
  width: 20%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 40px;
  padding-top: 40px;
  color: #ffffff;
}

.cards-steps div h5 {
  font-family: "Montserrat", sans-serif;
}

.cards-steps .card-step-1 {
  background: linear-gradient(rgba(126, 126, 126, 0.4), transparent);
  border-left: 0.1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px 0px 0px 15px;
}

.cards-steps .card-step-1 h5 {
  color: #5e17eb;
  font-size: 20px;
}

.cards-steps h4 {
  font-weight: 300;
}

.cards-steps .card-step-2 {
  background: linear-gradient(rgba(94, 23, 235, 0.7), transparent);
  height: 250px;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.25);
}

.cards-steps .card-step-2 h5 {
  font-size: 20px;
}

.cards-steps .card-step-3 {
  background: linear-gradient(rgba(126, 126, 126, 0.4), transparent);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
  border-right: 0.1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0px 15px 15px 0px;
}

.cards-steps .card-step-3 h5 {
  color: #5e17eb;
  font-size: 20px;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

footer h2 span {
  font-family: "Montserrat", sans-serif;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  width: 85%;
  background-color: rgba(94, 23, 235, 0.7);
  border-radius: 15px;
  padding: 40px 40px;
}

.footer-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-section ul li span {
  color: #bdbcbc;
}

.footer-iconos ul {
  width: 100%;
}

.footer-iconos img {
  width: 60px;
}
